form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
}

input, textarea {
  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--gray);
}

button {
  padding: 1rem;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: bold;
}
