footer {
  background: var(--primary-dark);
  color: var(--light);
  text-align: center;
  padding: 2rem 1rem;
}

footer a {
  color: inherit;        /* usa el mismo color que el texto del footer */
  text-decoration: none; /* quita el subrayado */
}

footer a:hover {
  text-decoration: underline; /* subrayado al pasar el ratón */
}

